ACTION=="add", SUBSYSTEM=="block", ENV{DEVTYPE}=="partition", ENV{ID_VENDOR}=="SanDisk", ENV{ID_MODEL}=="Cruzer_Blade", RUN+="/bin/systemd-run --no-block /usr/local/bin/usb_nfs_refresh.sh"
